<div class="w-full mb-12 xl:mb-0 px-4 mx-auto">
  <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded bg-slate-100">
    <div class="rounded-t mb-0 px-4 py-3 border-0">
      <div class="flex flex-wrap items-center">
        <div class="relative w-full px-4 max-w-full flex-grow flex-1">
          <h1 class="font-semibold text-blueGray-700 text-4xl">Webhook deliveries</h1>
        </div>
      </div>
    </div>

    <div class="block w-full overflow-x-auto">
      <%= render TableComponent.new do |table| %>
        <% table.with_header { "Id" } %>
        <% table.with_header { "Status" } %>
        <% table.with_header { "Url" } %>
        <% table.with_header { "Attempts" } %>
        <% table.with_header { "Response code" } %>
        <% table.with_header { "Response" } %>
        <% table.with_header { "Payload" } %>

        <% @webhook_deliveries.each do |delivery| %>
          <% table.with_row do |row| %>
            <% row.with_cell { delivery.id.to_s } %>
            <% row.with_cell { render StatusBadgeComponent.new(status: delivery.status) } %>
            <% row.with_cell { delivery.url } %>
            <% row.with_cell { delivery.attempts.to_s } %>
            <% row.with_cell(variant: :mono) { delivery.last_response_code.to_s } %>
            <% row.with_cell(variant: :mono) { delivery.last_response } %>
            <% row.with_cell(variant: :mono) { delivery.payload } %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
