<h1 class="text-4xl font-semibold mb-8">Webhook deliveries</h1>

<div class="table-card">
  <%= render TableComponent.new(class_names: "min-w-full divide-y divide-gray-200", tbody_class_names: "divide-y divide-gray-200") do |table| %>
    <% table.with_header(class_names: "px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider") { "Id" } %>
    <% table.with_header(class_names: "px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider") { "Status" } %>
    <% table.with_header(class_names: "px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider") { "Url" } %>
    <% table.with_header(class_names: "px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider") { "Attempts" } %>
    <% table.with_header(class_names: "px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider") { "Response code" } %>

    <% @webhook_deliveries.each do |delivery| %>
      <% table.with_row(class_names: "bg-white even:bg-gray-50") do |row| %>
        <% row.with_cell(class_names: "px-6 py-4 whitespace-nowrap") do
          link_to(delivery.id, delivery, class: "text-blue-600 hover:text-blue-800 hover:underline")
        end %>
        <% row.with_cell(class_names: "px-6 py-4 whitespace-nowrap") { render StatusBadgeComponent.new(status: :pending) } %>
        <% row.with_cell(class_names: "px-6 py-4 min-w-10 max-w-80 overflow-hidden") { delivery.url } %>
        <% row.with_cell(class_names: "px-6 py-4 whitespace-nowrap") { delivery.attempts_count.to_s } %>
        <% row.with_cell(class_names: "px-6 py-4 whitespace-nowrap font-mono") { delivery.last_response_code.to_s } %>
      <% end %>
    <% end %>
  <% end %>
</div>
